.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal1 {
  display: none;
  position: fixed;
  width: 630px;
  height: 688px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 30px;
}

.block-modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 630px;
  height: 660px;
  padding: 20px;
  border-radius: 10px;
}

.modal-header-close {
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  border: none;
  background-color: #fff;
  width: 24px;
  height: 24px;
}

.modal-close img {
  width: 12px;
  height: 12px;
}

.title-modal {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.gallery-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  height: auto;
  gap: 10px;
}

.gallery-modal figure {
  position: relative;
  width: 76.86px;
  height: 102.57px;
}

.img-card {
  width: 100%;
  height: 100%;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  background-color: black;
  padding: 5px; 
}

img.delete-icon {
  width: 9px;
  height: 11px;
}

.block-modal hr {
  border: 1px solid #b3b3b3;
  width: 420px;
}

.add-photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.add-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 36px;
  font-size: 14px;
  border-radius: 60px;
  padding: 7px 25px 7px 25px;
  background-color: #1d6154;
  color: white;
  font-family: Syne;
  border: none;
}

.block-modal2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 630px;
  height: 688px;
  padding: 20px;
  border-radius: 10px;
  gap: 25px;
}

.modal2 {
  display: none;
  position: fixed;
  width: 630px;
  height: 688px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 30px;
}
.modal-closeorreturn {
  display: flex;
  justify-content: space-between;
}

.modal-arrow-left {
  border: none;
  background-color: #fff;
  width: 21px;
  height: 21px;
  padding: 0;
}

.modal-arrow-left img {
  width: 100%;
  height: 18px;
  padding: 0;
}

.up-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.add-project-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 169px;
  border-radius: 3px;
  background: #e8f1f6;
  gap: 10px;
}

.miniphoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-project-photo input {
  display: none;
}

.file-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.picture-repo {
  height: 76px;
}

.up-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #cbd6dc;
  color: #306685;
}

.uploaded-image {
  width: 100%;
  height: 165px;
}

.types-images {
  display: block;
  width: 94px;
  height: 12px;
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  color: #444444;
}

.add-project-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 420px;
}

.title {
  color: #3d3d3d;
}

.input-title {
  width: auto;
  height: 51px;
  border: hidden;
  box-shadow: 0px 4px 14px 0px #00000017;
}

.add-project-category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 420px;
}

.category {
  color: #3d3d3d;
}

.select-category {
  width: auto;
  height: 51px;
  box-shadow: 0px 4px 14px 0px #00000017;
  background-color: #ffffff;
  border: hidden;
}

.block-modal2 hr {
  width: 420px;
}

.success-message {
  display: none;
  color: green;
  font-weight: bold;
  text-align: center;
}

.add-project-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.validate-add-project:disabled {
  background-color: gray;
  opacity: 0.6;
}

.validate-add-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 36px;
  font-size: 14px;
  border-radius: 60px;
  padding: 7px 25px 7px 25px;
  background-color: #1d6154;
  color: white;
  font-family: Syne;
  border: none;
}
